.hero {
    overflow: hidden;
  }
  
  .hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin-top: 40px;
    z-index: -1;
  }
  
  .hero-background-image {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
  }
  
  .hero-content {
    position: relative;
    z-index: 1; 
  }

  .badge-container:hover .badge {
    opacity: 1;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    transition: all 0.3s ease;
  }

  .badge {
    opacity: 0;
  }

  .navbar-icon::before {
    position: absolute;
    bottom: 22px;
    left: 50%;
    transform: translateX(-50%);
    padding: 4px 8px;
    background-color: #3f454f;
    color: #fff;
    font-size: 12px;
    border-radius: 8px;
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  
  .navbar-icon::after {
    content: "";
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 6px solid transparent; /* ancho del triángulo */
    border-right: 6px solid transparent; /* ancho del triángulo */
    border-top: 6px solid #3f454f; /* tamaño y color del triángulo */
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  
  .navbar-icon:hover::after,
  .navbar-icon:hover::before {
    opacity: 1;
  }

  .footer-icon::before {
    position: absolute;
    bottom: 34px;
    left: 50%;
    transform: translateX(-50%);
    padding: 4px 8px;
    background-color: #f4eaea;
    color: #000;
    font-size: 14px;
    border-radius: 8px;
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  
  .footer-icon::after {
    content: "";
    position: absolute;
    bottom: 26px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 8px solid transparent; /* ancho del triángulo */
    border-right: 8px solid transparent; /* ancho del triángulo */
    border-top: 8px solid #f4eaea; /* tamaño y color del triángulo */
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  
  .footer-icon:hover::after,
  .footer-icon:hover::before {
    opacity: 1;
  }



  /* scrollbar */

/* Estilos para el scrollbar personalizado */
::-webkit-scrollbar {
  width: 0px; /* Ancho del scrollbar */
}

/* Ocultar completamente el scrollbar */
::-webkit-scrollbar-thumb {
  background-color: transparent; /* Color del thumb */
  border: none; /* Borde del thumb */
}

/* Ocultar completamente el track (barra de fondo) del scrollbar */
::-webkit-scrollbar-track {
  background-color: transparent; /* Color de fondo del track */
}

/* Mostrar el scrollbar solo al hacer scroll */
::-webkit-scrollbar-thumb:hover {
  width: 5px;
  background-color: rgba(0, 0, 0, 0.185); /* Cambia el color del thumb al hacer hover */
}




@media screen and (max-width: 460px) {
  .hero-background-image {
    background-size: auto; /* O ajusta a tu necesidad */
    background-position: center;
    height: 100%;
  }
}


  
  